$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@font-face {
  font-family: "Futura";
  src:
    url("futura-heavy-oblique-webfont.woff") format('woff'),
    url("futura-heavy-oblique.ttf") format('truetype');
}

h1 {
  font-family: "Futura", sans-serif;
  text-align: center;
}

h1 span {
  background-color: Red;
  color: white;
  padding-left: 5px;
  padding-right: 10px;
}

h5 {
  text-align: center;
}

.card {
  margin: 15px;
  padding-left: 7px;
  padding-right: 7px;
  border: 2px solid #DCDCDC;
  border-radius: 5px;
  float: left;
}

img {
  width: 18rem;
}

button {
  margin: 10px;
  padding: 5px;
}

.btn-info {
  float: left;
  margin-bottom: 10px;
}

.btn-danger {
  float: right;
  margin-bottom: 10px;
}
